body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  height: 100vh;
  gap: 0;
}

.navbar {
  background-color: teal;
  height: 100vh;
  position: fixed;
  right: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  border-left: 2px solid black;
}

.navbar ul {
  padding: 0;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin: 0;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  writing-mode: vertical-rl;
  padding: 5px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: start;
  height: 100vh;
}

.page-card {
  display: grid;
  grid-auto-rows: min-content;
  margin: 0;
  background-color: teal;
  align-content: start;
  justify-items: start;
  padding: 10px 40px 10px 10px;
}

.welcome h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  padding-right: 20px;
  width: auto;
}

h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  margin: 0;
}

h2 {
  font-size: clamp(1.5rem, 3vw, 3rem);
  margin: 6px 0;
}

p {
  font-size: clamp(1rem, 2vw, 3rem);
  margin: 6px 0;
}

li {
  font-size: clamp(1rem, 2vw, 2rem);
}

.avatar {
  display: block;
  justify-self: center;
  color: white;
  text-align: center;
  padding: 10px 40px 10px 10px;
  align-self: center;
}

.avatar-image {
  width: 50%;
  height: auto;
}

.tikky-image {
  width: 50%;
  height: auto;
}

.connect-image {
  width: 50%;
  height: auto;
}

.journey-image {
  display: none;
  width: 70%;
  height: auto;
  justify-self: center;
}

.journey-card {
  height: 100vh;
}

.project-thumbnails {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 10px;
}

.project-thumbnails img {
  width: 60%;
  border-radius: 30px;
  justify-self: center;
}

.button {
  display: block;
  padding: 10px 20px;
  border-radius: 15px;
  background-color: teal;
  color: white;
  text-decoration: none;
  justify-self: center;
  margin-top: 10px;
  font-size: clamp(1rem, 2vw, 3rem);
}

@media screen and (min-width: 750px) {
  .card {
    display: grid;
    grid-template-columns: auto auto;
  }

  .page-card {
    height: 100vh;
    padding: 0 80px;
    align-content: center;
  }

  .journey-card {
    padding: 10px 100px 10px 80px;
  }

  .avatar {
    width: 30vw;
  }

  .journey-image {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .journey-image {
    display: none;
    width: 50%;
  }
  .journey-card {
    height: 100vh;
  }
  .project-thumbnails img {
    width: 50%;
  }

  .avatar {
    align-self: start;
  }
}
