body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
  background-color: teal;
  color: white;
}

.navbar {
  background-color: rgb(94, 54, 103);
  direction: rtl;
  height: 100vh;
  position: fixed;
  right: 0;
  margin: 0;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  border-left: 2px solid rgb(94, 54, 103);
}

.navbar ul {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  writing-mode: vertical-rl;
  padding: 5px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  justify-items: center;
  height: 100vh;
}

.page-card {
  display: flex;
  flex-flow: column nowrap;
  margin: 0;
  background-color: black;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 50px 20px 20px;
}

.welcome h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  padding-right: 20px;
  width: auto;
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  margin: 0;
}

h2 {
  font-size: clamp(1.5rem, 4vw, 4rem);
  margin: 10px 0;
}
.avatar {
  justify-self: center;
}
.avatar-image {
  width: 150px;
  height: auto;
  border-radius: 50%;
  padding: 30px 50px 30px 30px;
}

p {
  font-size: clamp(1rem, 2vw, 3rem);
  margin: 6px;
}
