body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

#landing-page {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}

.navbar {
  background-color: teal;
  direction: rtl;
  height: 100vh;
  position: fixed;
  right: 0;
  margin: 0;
  width: auto;
  display: flex;
  flex-flow: row wrap;
}

.navbar ul {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  writing-mode: vertical-rl;
  text-orientation: sideways-right;
  padding: 5px;
}
.welcome-section {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  width: auto;
  max-height: 100vh;
  width: 80vw;
  padding-right: 40px;
  justify-content: center;
}

.welcome {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;
  flex: 1;
  width: 80%;
  height: auto;
}

.welcome div {
  height: auto;
  width: 50%;
}

.welcome h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  text-indent: -1.5rem;
  margin: 0 0 0 1.5rem;
  width: 100%;
  padding-right: 5vw;
  text-wrap: balance;
}

h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  margin: 0;
}

.avatar-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 50%;
}

p {
  font-size: clamp(1rem, 2vw, 3rem);
  margin: 10px;
}
