/* CSS for WTHreleased.com*/

/* Landing Page */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

main {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-behavior: smooth;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  height: 100%;
  min-width: 0;
  min-height: 0;
  scroll-snap-align: start;
}

.navbar {
  background-color: teal;
  height: 100%;
  position: fixed;
  right: 0;
  border-left: 2px solid black;
}

.navbar ul {
  padding: 0;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  margin: 0;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  color: white;
  text-decoration: none;
  writing-mode: vertical-rl;
  padding: 5px;
  font-weight: 600;
}

.navbar li a:hover {
  color: goldenrod;
  transition: all 0.3s;
}

.text-container {
  background-color: teal;
  padding: 10px 40px 10px 10px;
  height: 100%;
  align-content: center;
}

.welcome h1 {
  font-size: clamp(2rem, 5vw, 5rem);
  padding-right: 20px;
  width: auto;
}

h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 800;
  margin: 0;
  color: goldenrod;
}

h2 {
  font-size: clamp(1.3rem, 3vw, 3rem);
  font-weight: 600;
  margin: 6px 0;
}

p {
  font-size: clamp(1rem, 2vw, 3rem);
  margin: 6px 0;
}

a {
  color: goldenrod;
  text-decoration: none;
}

li {
  font-size: clamp(1rem, 2vw, 2rem);
}

.goldenrod {
  color: goldenrod;
}

.image-container {
  color: white;
  padding: 10px 40px 10px 10px;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

.image-container img {
  width: 40%;
  height: auto;
  display: block;
  min-width: 0;
  min-height: 0;
  justify-self: center;
  border-radius: 5px;
  margin: 20px;
}

.projects img {
  width: 50%;
  height: auto;
}

.projects img {
  display: block;
  opacity: 0.8;
  border: 1px solid transparent;
}

.projects img:hover {
  opacity: 1;
  transition: all 0.3s;
  border: 1px solid white;
  transform: scale(1.2);
}

.button {
  display: block;
  padding: 5px 10px;
  border: 2px solid goldenrod;
  border-radius: 15px;
  background-color: black;
  color: white;
  text-decoration: none;
  margin-top: 20px;
  max-width: fit-content;
  font-size: clamp(1rem, 2vw, 3rem);
}

.button {
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: goldenrod;
  color: black;
}

.button:active {
  transform: scale(0.95);
}

.man-snap {
  scroll-snap-type: y mandatory;
}

@media screen and (min-width: 768px) {
  section {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100%;
  }

  .text-container {
    padding: 0 80px;
  }

  .image-container img {
    width: 70%;
  }
}

/* Projects Page Styles */

.logo-box {
  display: block;
  color: white;
  padding: 10px 40px 10px 10px;
  align-content: center;
}

.logo-box a {
  display: block;
  align-items: center;
  justify-items: center;
  padding: 10px;
}

.logo-box img {
  display: block;
  background-color: white;
  width: 50%;
  height: auto;
  border-radius: 50%;
}
