body {
    background: #f5d9df;
    font-family: 'Nunito', sans-serif;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;

}

#mainNavBar * {
    font-size: 1.5rem;
    font-weight: 100;

}

#mainNavbar .nav-link {
    color: white;
}


#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#heading-group span {
    color: red;
}

#heading-group h1 {
    font-weight: 100;
    font-size: 4rem;
}

#museum h2 {
    font-weight: 100;
    font-size: 2.5rem;
    color: #EA1C2C;
}

#museum p {
    font-size: 1.125rem;
    color: #f498b8;
    line-height: 2;
}

@media (max-width: 1200px) {
    #heading-group h1 {
        font-size: 3rem;
    }

}

.content {
    margin-top: 100px;
    margin-bottom: 50px;
}

.navbar.scrolled {
    background-color: rgb(222, 192, 222);
    transition: background-color 500ms linear;
}