body {
  font-family: "Outfit", sans-serif;
  background: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  box-shadow: 10px 10px 20px hsl(212, 45%, 80%);
  padding: 10px;
  margin-top: 50px;
  margin: 20px;
  text-align: center;
  width: 300px;
}

div:nth-of-type(1) {
  padding: 10px;
}

.qr-image {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

h1 {
  color: hsl(218, 44%, 22%);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.25;
  margin-top: 10px;
  text-wrap: balance;
}

p {
  color: hsl(216, 15%, 48%);
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 10px;
  text-wrap: pretty;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
